body {
  height: 100vh;
  background-color: cadetblue;
  cursor: url('cursor.png'), auto;
}

.faces {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.face {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: yellow;
  margin: 0 20px;
  position: relative;
  transition: all 0.3s;
  transform: translateZ(100px) perspective(600px) rotateY(40deg);
  transform-style: preserve-3d;
}
.face:before{
  content: "";
  position: absolute;
  width: 150px;
  height: 70px;
  background: chocolate;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  bottom: 30px;
  transition: all 0.3s;
  transform: translateZ(20px);
  transform-style: preserve-3d;
}
.face:hover{
  background: linear-gradient(180deg, brown, burlywood, yellow);
  transform: scale(1.6);
}
.face:hover:before{
  height: 20px;
  background: brown;
  bottom: 60px;
  border-radius: 10px;
}
.eyes {
  top: -30px;
  position: relative;
  display: flex;
  transform: translateZ(50px);
}

.eye {
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 50%;
  display: block;
  position: relative;
  margin: 0 15px;
  overflow: hidden;
}
.ball{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
  border: 15px solid #222;

}